<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block atmmail_title %}ATM Mailing System{% endblock atmmail_title %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta http-equiv="Content-Language" content="en">
        <meta name="description" content="{% block atmmail_description %}{% endblock atmmail_description %}">
        <meta name="keywords" content="{% block atmmail_keywords %}{% endblock atmmail_keywords %}">
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/atmmail/css/admin.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmmail/css/mail.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmmail/js/scrollbar/jquery.mCustomScrollbar-min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmmail/css/font-awesome/css/font-awesome.css') }}" type="text/css"/>
        {% block atmmail_stylesheets %}{% endblock atmmail_stylesheets %}

        <script src="{{ asset('bundles/atmmail/js/jquery-1112.js') }}"></script>
        <script src="{{ asset('bundles/atmmail/js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>

        {% block atmmail_headingJS %}{% endblock atmmail_headingJS %}

        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body>
        <div id="header">
            <div class="logo">
                <div id="serverTime" class="serverTime">
                    <div style="float: left; color: #ADB7B7;">Server Time:&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="clock">
                        <div class="digit" style="float: left;" id="hour"></div>
                        <div class="colon" style="float: left;">:</div>
                        <div class="digit" style="float: left;" id="minute"></div>
                        <div class="colon" style="float: left;">:</div>
                        <div class="digit" style="float: left;" id="second"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="menu_options_container">
            <div id="menu_options">
                <ul id="menu">
                    <li class="item">
                        <a id="header-menu-media" href="{{ path('atm_mail_index') }}">
                            <span>New Mailing</span>
                        </a>
                    </li>
                    <li class="item">
                        <a id="header-menu-media" href="{{ path('atm_mail_templates') }}">
                            <span>Mail Templates</span>
                        </a>
                    </li>
                    <li class="item">
                        <a id="header-menu-media" href="{{ path('atm_mail_templates_variables') }}">
                            <span>Mail Templates Variables</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin_content">
            {% block atmmail_body %}{% endblock atmmail_body %}
        </div>

        <script type="text/javascript">
            function date_time(startTime)
            {
                if(typeof startTime !== 'undefined')
                {
                    hour = startTime["hour"];
                    minute = startTime["minute"];
                    second = startTime["second"];
                } else {
                    second = $('#second').html();
                    minute = $('#minute').html();
                    hour = $('#hour').html();
                    second = parseInt(second) + 1;
                    if(second > 59)
                    {
                        second = 0;
                        minute = parseInt(minute) + 1;
                    }
                    if(minute > 59)
                    {
                        minute = 0;
                        hour = parseInt(hour) + 1;
                    }
                    if(hour > 23)
                    {
                        hour = 0;
                    }
                }
                hour = ("0" + hour).slice(-2);
                minute = ("0" + minute).slice(-2);
                second = ("0" + second).slice(-2);
                $('#hour').html(hour);
                $('#minute').html(minute);
                $('#second').html(second);
                setTimeout('date_time();','1000');
                return true;
            }

            $(document).ready(function() {
                var startTime = new Array();
                startTime["day"] = "{{ "now"|date('d') }}";
                startTime["month"] = "{{ "now"|date('m') }}";
                startTime["year"] = "{{ "now"|date('Y') }}";
                startTime["hour"] = "{{ "now"|date('H') }}";
                startTime["minute"] = "{{ "now"|date('i') }}";
                startTime["second"] = "{{ "now"|date('s') }}";
                date_time(startTime);
            });
        </script>
        {% block atmmail_javascripts %}{% endblock atmmail_javascripts %}
    </body>
</html>