{% extends 'ATMMailBundle:Mail:base.html.twig' %}

{% block atmmail_body %}
    <div class="large_chainbox" id="mailing_lists">
        <div class="form-container" style="margin-bottom:30px;">
            <div id="form-container" class="stiffia-form" style="max-width: 900px; margin: 0px auto;position:relative">
                <h1 style="font-size:20px;font-weight:bold;">
                    Create Mail Template
                </h1>
                <form action="{{ path('atm_mail_create_mailtemplate') }}" method="post" enctype="multipart/form-data" id="frmMailTemplates">
                    <fieldset>
                        <legend>Template Name</legend>
                        {{ form_widget(form.name,{'attr':{ 'style':'width:auto' }}) }}
                    </fieldset>
                    <fieldset>
                        <legend>Template File</legend>
                        {{ form_widget(form.file) }}
                    </fieldset>
                    <label class="submit">
                        <input type="submit" value="Upload" style="cursor: pointer;">
                    </label>
                </form>
            </div>
        </div>
    </div>
{% endblock atmmail_body %}