{% extends 'ATMMailBundle:Mail:base.html.twig' %}

{% block atmmail_stylesheets %}
    <style>
        .table_border{border:none}
        .table_border tr td{border:none}
    </style>
{% endblock atmmail_stylesheets %}

{% block atmmail_body %}
    <div class="large_chainbox" id="mailing_lists">
        <div class="form-container" style="margin-bottom:30px;">
            <div id="form-container" class="stiffia-form" style="max-width: 900px; margin: 0px auto;position:relative">
                <h1 style="font-size:20px;font-weight:bold;">
                    Edit Mail Template
                </h1>
                <form action="{{ path('atm_mail_edit_mailtemplate',{ 'templateId':templateId }) }}" method="post" enctype="multipart/form-data" id="frmMailTemplates">
                    <fieldset>
                        <legend>Template Name</legend>
                        {{ form_widget(form.name,{'attr':{ 'style':'width:auto;background-color:#cacaca','disabled':'disabled' }}) }}
                    </fieldset>
                    <fieldset>
                        <legend>Template File</legend>
                        {{ form_widget(form.file) }}
                    </fieldset>
                    <fieldset>
                        <legend>Edit Template</legend>
                        <textarea id="editor" name="mailtemplate_html">{{ htmlFile }}</textarea>
                    </fieldset>
                    <label class="submit">
                        <input type="submit" value="Save" style="cursor: pointer;">
                    </label>
                </form>
            </div>
        </div>
    </div>
{% endblock atmmail_body %}
{% block atmmail_javascripts %}
    {% include 'ATMMailBundle:Mail:froalaEditorJs.html.twig' with { 'selector': '#editor','froala_key':froala_key } %}
    <script>
        $('#atmmail_bundle_mail_template_file').removeAttr('required');
    </script>
{% endblock atmmail_javascripts %}