{% extends 'ATMMailBundle:Mail:base.html.twig' %}

{% block atmmail_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmmail/css/jquery-ui.css') }}">
{% endblock atmmail_stylesheets %}

{% block atmmail_headingJS %}
    <script src="{{ asset('bundles/atmmail/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#customDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: new Date()
            });
        });
    </script>
{% endblock atmmail_headingJS %}

{% block atmmail_body %}
<div class="large_chainbox" id="mailing_lists">
    <div class="form-container" style="margin-bottom:30px;">
        <div id="form-container" class="stiffia-form" style="max-width: 900px; margin: 0px auto;">
            <h1 style="font-size:20px;font-weight:bold;">NEW MAILING</h1>
            <form action="{{ path('atm_mail_generate_mailing') }}" method="post" enctype="multipart/form-data" id="frmMailing">
                {% for flashMessage in app.session.flashbag.get('atmmail_successMailList') %}
                    <label style="color:green">
                        {{ flashMessage }}
                    </label>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('atmmail_errorMailSubject') %}
                    <label style="color:red">
                        {{ flashMessage }}
                    </label>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('atmmail_errorUserType') %}
                    <label style="color:red">
                        {{ flashMessage }}
                    </label>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('atmmail_subject') %}
                    <label style="color:red">
                        {{ flashMessage }}
                    </label>
                {% endfor %}
                <div style="float:left">
                    <label>
                        Name for the mailing:
                        <input type="text" name="mailingName">
                    </label>
                    <label>
                        <span>Select a user type:</span>
                        <select id="slcUserType" name="slcUserType" required>
                            <option value="--"> Please chose a user type</option>
                            {% for key,value in user_types %}
                                <option value="{{ key }}">{{ key | title }}</option>
                            {% endfor %}
                        </select>
                        <span id="countUsers" style="margin-left:25px;font-weight:bold;display:none"><img src="{{ asset('bundles/atmmail/images/preloader.gif') }}" style="width:20px"></span>
                    </label>
                    <div class="form_separator"></div>
                </div>
                <fieldset id="dateContainer" style="float:left;margin-left:50px">
                    <legend>Chose the send date</legend>
                    <ul>
                        <li>
                            <label>
                                <input type="radio" class="chkDate" name="chkDate" value="now" checked>
                                Now
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" class="chkDate" name="chkDate" value="join_date">
                                Join Date
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" class="chkDate" name="chkDate" value="custom_date" id="btnCustomDate">
                                Pick a date
                                <input type="text" name="customDate" id="customDate" style="width:95%">
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <div class="form_separator"></div>
                <fieldset id="multilangContainer" style="margin-top:20px; display:none">
                    <legend>Mail Template</legend>
                    <input name="mailTemplate" id="mailTemplate_en" type="file">
                </fieldset>
                <div class="form_separator"></div>
                <fieldset id="subjectContainer" style="margin-top:20px;display:none">
                    <legend>Mail Subject</legend>
                    <textarea name="subject" style="width:98%"></textarea>
                </fieldset>
                <label id="sendMailing" class="submit">
                    <input type="submit" value="Submit" id="btnSubmit"/>
                </label>
            </form>
        </div>
    </div>
</div>
{% endblock atmmail_body %}

{% block atmmail_javascripts %}
    <script>
        $('#btnCustomDate').click(function(){
            $("#customDate").datepicker('show');
        });

        $('#slcUserType').change(function(){
            var select = $(this);
            var userType = select.val();

            $('#countUsers').html('<img src="{{ asset('bundles/atmmail/images/preloader.gif') }}" style="width:20px">').show();

            $.ajax({
                url: Routing.generate('atm_mail_total_users',{ 'userType':userType }),
                type: 'post',
                success: function(data){
                    $('#countUsers').html(data);
                    $('#multilangContainer,#subjectContainer').show();
                }
            });
        });
    </script>
{% endblock atmmail_javascripts %}