{% extends 'ATMMailBundle:Mail:base.html.twig' %}

{% block atmmail_body %}
    <div class="large_chainbox" id="mailing_lists">
        <div class="form-container" style="margin-bottom:30px;">
            <div id="form-container" class="stiffia-form" style="max-width: 900px; margin: 0px auto;position:relative">
                <h1 style="font-size:20px;font-weight:bold;">
                    Mail Templates Variables
                </h1>

                <div id="formContent">
                    <table>
                        {% for variable in variables %}
                            <tr>
                                <td style="padding-bottom:10px">
                                    {{ variable }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock atmmail_body %}