{% extends 'ATMMailBundle:Mail:base.html.twig' %}

{% block atmmail_stylesheets %}
    <style>
        #formContent table{width: 100%;margin-top:20px;}
        #formContent table thead{background-color: #2e2e2e;color: #fff;height: 40px;text-align: center;}
        #formContent table thead tr th{text-align:center;}
        #formContent table thead tr th:first-child{width: 10%;}
        #formContent table thead tr th:nth-child(2){width: 20%;}
        #formContent table thead tr th:nth-child(3){width: 10%;}
        #formContent table thead tr th:nth-child(4){width: 40%;}
        #formContent table thead tr th:nth-child(5){width: 20%;}
        #formContent table tbody tr td{text-align: center;padding: 10px 0;}
        #formContent table tbody tr td:first-child{width: 10%;}
        #formContent table tbody tr td:nth-child(2){width: 20%;}
        #formContent table tbody tr td:nth-child(3){width: 10%;}
        #formContent table tbody tr td:nth-child(4){width: 40%;}
        #formContent table tbody tr td:nth-child(5){width: 20%;}
        #formContent table tbody tr td i{cursor: pointer;font-size: 20px;}
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/atmmail/css/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
{% endblock atmmail_stylesheets %}

{% block atmmail_body %}
<div class="large_chainbox" id="mailing_lists">
    <div class="form-container" style="margin-bottom:30px;">
        <div id="form-container" class="stiffia-form" style="max-width: 900px; margin: 0px auto;position:relative">
            <h1 style="font-size:20px;font-weight:bold;">
                Mail Templates
                <span>
                    <a href="{{ path('atm_mail_create_mailtemplate') }}" style="float: right;display: inline-block;position: absolute;right: 10px;top: 30px;color: #000;font-size: 15px;text-decoration: underline;">Add Mail Template</a>
                </span>
            </h1>

                <div id="formContent">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Variables
                                </th>
                                <th>
                                    Preview
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for template in templates %}
                                <tr>
                                    <td>
                                        {{ template.name }}
                                    </td>
                                    <td>
                                        {{ getAtmMailVariables(template.file) | join('<br>') | raw }}
                                    </td>
                                    <td>
                                        <a href="{{ asset(template.file) }}" target="_blank">
                                            Preview
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('atm_mail_edit_mailtemplate',{'templateId':template.id}) }}">
                                            Edit
                                        </a>
                                        <a href="{{ path('atm_mail_delete_mailtemplate',{ 'templateId': template.id }) }}" style="margin-left:20px;">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock atmmail_body %}