html, body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    height: auto;
}

a {
    text-decoration: none;
}

.logo
{
    background: #222D32;
}

.logo img
{
    margin-left: 15px;
    margin-top: 5px;
    width: 230px;
}

.requestLang
{
    font: 32px/46px "Orbitron", sans-serif;
    float: right;
    margin-right: 150px;
    color: #202020;
}

.serverTime
{
    /*font: 32px/46px "Orbitron", sans-serif;*/
    font: 26px "Orbitron", sans-serif;
    float: right;
    margin-right: 150px;
    color: #D69E10;
}

.serverTime .clock
{
    float: left;
    width: 200px;
}

.serverTime .colon
{
    margin: 0 2px 0 2px;
    color: #F2F2F2;
}

#header {
    width: 100%;
    height: 47px;
    position: fixed;
    clear: both;
    /*background-color: #707070;*/
    background-color: #222D32;
    z-index: 99999999999999;
}

.clear{
    float: none;
    clear: both;
}

div#menu_options_container {
    float: left;
    width: 260px;
    position: fixed;
    height: 100%;
    background-color: #222D32;
    z-index: 99999;
    top: 47px;
}

div#menu_options {
    float: left;
    width: 260px;
    position: relative;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    height: 100%;
}

div#menu_options_container #toggleMenu
{
    position: absolute;
    right: 26px;
    z-index: 100000000000;
}

div#menu_options_container #toggleMenu a
{
    /*background-color: #222D32;*/
    color: #b2bfc5;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 2px 8px 2px 18px;
    font-weight: bold;
}

div#menu_options_container #toggleMenu a:hover
{
    color: #ffffff;
}

div#admin_content {
    float: left;
    margin: 50px 20px 20px 300px;
}

div#admin_content-iframe{
    float: left;
    margin: 0;
    width: 100%;
}

div#menu_options ul {
    list-style-type: none;
}

div#menu_options ul#menu {
    width: 247px;
    height: auto;
    float: left;
    padding: 0px 2px 2px 0px;
    overflow: hidden;
    /*background-color: #222D32;*/
    position: relative;
    margin: 0;
    display: block;
    margin-bottom: 90px;
}

div#menu_options ul#menu li.separator {
    height: 12px;
    /*background-color: #1E282C;*/
    background-color: #1A2229;
    float: none;
    clear: both;
}

div#menu_options ul#menu li.avatar{
    height: 50px;
}

div#menu_options ul#menu li.avatar .avatar {
    border: 2px solid #f0f0f0;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 12px;
}

div#menu_options ul#menu li.avatar .avatar img {
    width: 40px;
    height: 40px;
}

div#menu_options ul#menu li.avatar .avatar-info {
    float: left;
    margin-left: 15px;
}

div#menu_options ul#menu li.avatar .avatar-info span {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}

div#menu_options ul#menu li.avatar .avatar-info span.online {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #b6e026;
}

div#menu_options ul#menu li.avatar .avatar-info a.logout {
    margin-left: 2px;
    font-size: 12px;
    color: #0088CC;
}

div#menu_options ul#menu li.avatar .avatar-info a.logout:hover {
    color: #ED1D24;
}

div#menu_options ul#menu li.item {
    width: 100%;
    min-height: 40px;
    background-color: #222D32;
    color: #b2bfc5;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #222D32;
}

div#menu_options ul#menu li.item.highlight, div#menu_options ul#menu li.item:hover {
    background-color: #1E282C;
    border-left-color: #AAFF55;
}

div#menu_options ul#menu li.item a {
    background-color: #222D32;
    color: #b2bfc5;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 2px 8px 2px 18px;
    font-weight: bold;
}

div#menu_options ul#menu li.item ul {
    width: 100%;
    min-height: 40px;
    background-color: #222D32;
    color: #b2bfc5;
    display: none;
}

div#menu_options ul#menu li.item > ul li.subitem {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #222D32;
}

div#menu_options ul#menu li.item > ul li.subitem.highlight, div#menu_options ul#menu li.item > ul li.subitem:hover {
    border-left-color: #FFFF55;
}

div#menu_options ul#menu li.item > ul li.subitem a {
    background-color: #374850;
    color: #b2bfc5;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: block;
    font-weight: normal;
    padding: 2px 8px 2px 35px;
}

div#menu_options ul#menu li.item a.highlight, div#menu_options ul#menu li.item a:hover, div#menu_options ul#menu li.item > ul li.subitem a.highlight, div#menu_options ul#menu li.item > ul li.subitem a:hover {
    background-color: #1E282C;
    color: #ffffff;
}

div#menu_options ul#menu li.item span {
    line-height: 40px;
}

div#menu_options ul#menu li.item i {
    margin-right: 6px;
    font-size: 14px;
    min-width: 18px;
}

div#menu_options ul#menu li.item i.right {
    margin-right: 40px;
    font-size: 14px;
    float: right;
    line-height: 40px;
}

/* Help menu */
div#menu_options ul#menu li.item.help {

}
div#menu_options ul#menu li.item.help img {
    width: 32px;
    height: 32px;
    float: left;
}
div#menu_options ul#menu li.item.help span {
    float: left;
    margin-left: 8px;
    line-height: 16px;
}
/* END Help menu */

div.left_col {
    float: left;
    width: 400px;
    height: auto;
    border: 1px solid #E0E0E0;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background: #F2F2F2;
}

div.right_col {
    float: left;
    width: 800px;
    height: auto;
    border: 1px solid #E0E0E0;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background: #F2F2F2;
    margin-left: 20px;
    padding: 8px 10px 8px 10px;
}

div.right_col-iframe {
    float: left;
    width: 100%;
    height: auto;
    border: 0px solid #E0E0E0;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background: #F2F2F2;
    margin-left: 0;
    padding: 0;
}

span.example {
    font-size: 11px;
    color: #202020;
    font-weight: bold;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
span.example:before {
    content: "i.e.:";
    margin-right: 6px;
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 11px;
    color: #990000;
}

p.txtPreloader {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #202020;
    padding: 15px 0;
}
p.txtPreloader > i.fa {
    margin-right: 6px;
    font-size: 20px;
}

/* text blink */
.blink_me
{
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
/* END text blink */

div#notificationBanner {
    background: none repeat scroll 0 0 rgba(32, 32, 32, 0.8);
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 15px 150px 15px 150px;
}

div#notification {
    width: 400px;
    height: auto;
    text-align: center;
    border: 1px solid #E0E0E0;
    margin: 150px auto 0 300px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

div#notification .icon i {
    font-size: 40px;
    color: #2C3B41;
}

div#notification .message span {
    font-size: 14px;
    color: #2C3B41;
}

#globalOptions {
    padding: 14px 14px 14px 14px;
    float: left;
    margin: 46px 20px 20px 259px;
    background: #222d32;
    border: 1px solid #990000;
    width: 100%;
    width: calc(100% - 289px);
}

#globalOptions > div {
    float: left;
    padding: 4px 4px 4px 4px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#globalOptions > div .section_title {
    float: left;
    margin-right: 25px;
    padding: 4px 8px 4px 8px;
    background-color: #b2bfc5;
    color: #222D32;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.options ul {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
.options ul > li {
    margin: 12px 35px 0 0;
    float: left;
    display: block;
}
.options ul > li > a {
    font-size: 11px;
    color: #b2bfc5;
    font-weight: normal;
}
.options ul > li > a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.options ul > li > a > i.fa {
    margin-right: 3px;
    min-width: 10px;
}

/* MEDIA */
img.options {
    vertical-align: middle;
    float: left;
    width: 20px;
    height: 20px;
}

span.options {
    float: left;
    margin-left: 6px;
    font-size: 12px;
    color: #202020;
}

.chainbox {
    margin-left: 0!important;
}

#videos span.videoTags, #tubeclips span.videoTags {
    font-size: 11px;
    color: #6295CE;
}
#videos span.videoPornstars, #tubeclips span.videoPornstars {
    font-size: 11px;
    color: #FF7F00;
}

.large_chainbox .container .thumbnail
{
    float: left;
    clear: both;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 1;
    margin: 0 0 0 0!important;
    /*margin: 5px 5px 5px 5px;*/
}
.large_chainbox .container .thumbnail img
{
    width: 160px;
    height: 145px;
}

/* ALPHABEET SEARCH */
/* List Alphabetical Navigation */
.listNav { margin: 10px auto 20px; width: 1500px; float: left; }

.ln-letters { overflow:hidden; }
.ln-letters a { font-size:1.0em; display:block; float:left; padding: 2px 8px; border: 1px solid silver; text-decoration:none; color: #202020; background-color: #EAF3D1; font-weight: normal; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; margin-right: 3px; }
.ln-letters a.ln-last { border-right:1px solid silver; }
.ln-letters a:hover,
.ln-letters a.ln-selected { background-color:#eaeaea; }
.ln-letters a.ln-disabled { color:#ccc; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }

.fancy_button
{
    border: 1px solid #AACD4E;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #202020;
    padding: 5px 8px 5px 8px;
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

button.fancy_button_custom
{
    border: 1px solid #AACD4E;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #202020;
    padding: 5px 8px 5px 8px;
    margin: 5px 8px 5px 8px;
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
    text-align: center;
    width: auto;
    font-size: 12px;
    float: left;
}


/*BACKEND COMMENTS SECTION*/
.filterComments{margin-bottom: 20px;}

/* VIDEO PUBLISH DATE FOR CMS */
.CMSdate {
    display: block;
    width: 50px;
    height: 100px;
    /*margin: 30px auto;*/
    background: #fff;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    position: relative;
    z-index: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* IE 5-7 */
    filter: alpha(opacity=60);
    /* Netscape */
    -moz-opacity: 0.6;
    /* Safari 1.x */
    -khtml-opacity: 0.6;
    /* Good browsers */
    opacity: 0.6;
}

.CMSdate .binds {
    position: absolute;
    height: 15px;
    width: 30px;
    background: transparent;
    border: 2px solid #B0E24B;
    border-width: 0 5px;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
}

.CMSdate .month {
    background: #77BA2F;
    display: block;
    padding: 4px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #208E24;
    box-shadow: inset 0 -1px 0 0 #208E24;
}

.CMSdate .day {
    display: block;
    margin: 0;
    padding: 3px 0;
    font-size: 28px;
    box-shadow: 0 0 3px #ccc;
    position: relative;
}

.CMSdate .day::after {
    content: '';
    display: block;
    height: 100%;
    width: 96%;
    position: absolute;
    top: 3px;
    left: 2%;
    z-index: -1;
    box-shadow: 0 0 3px #ccc;
}

.CMSdate .day::before {
    content: '';
    display: block;
    height: 100%;
    width: 90%;
    position: absolute;
    top: 6px;
    left: 5%;
    z-index: -1;
    box-shadow: 0 0 3px #ccc;
}

.CMSdate .year {
    background: #77BA2F;
    display: block;
    padding: 4px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #208E24;
    box-shadow: inset 0 -1px 0 0 #208E24;
}



/*STYLES FOR TOPCHANNELS POP UP */
#topChannelsList{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
#topChannelsList li{
    background: none repeat scroll 0 0 #0078ae;
    color: white;
    height: 20px;
    line-height: 39px;
    margin-bottom: 10px;
    cursor:pointer;
    position: relative;
}

.spanOrder{
    font-size: 16px;
    font-weight: bold;
    left: 5px;
    position: absolute;
}

/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */
:root input[type="checkbox"].ios-switch { /* :root here acting as a filter for older browsers */
    position: absolute;
    opacity: 0;
}

:root input[type="checkbox"].ios-switch + div {
    display: inline-block;
    vertical-align: middle;
    width: 3em;    height: 1em;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 999px;
    margin: 0 .5em;
    background: white;
    background-image: linear-gradient(rgba(0,0,0,.1), transparent),
    linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-origin: border-box;
    background-clip: border-box;
    overflow: hidden;
    transition-duration: .4s;
    transition-property: padding, width, background-position, text-indent;
    box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
    0 .45em 0 .1em rgba(0,0,0,.05) inset;
    font-size: 150%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
    padding-left: 2em;    width: 1em;
    background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
    content: 'On';
    float: left;
    width: 1.65em; height: 1.65em;
    margin: -.1em;
    border: 1px solid rgba(0,0,0,.35);
    border-radius: inherit;
    background: white;
    background-image: linear-gradient(rgba(0,0,0,.2), transparent);
    box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
    0 0 .5em rgba(0,0,0,.3);
    color: white;
    text-shadow: 0 -1px 1px rgba(0,0,0,.3);
    text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
    background-color: #eee;
}

:root input[type="checkbox"].ios-switch:focus + div {
    box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
    0 .45em 0 .1em rgba(0,0,0,.05) inset,
    0 0 .4em 1px rgba(255,0,0,.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
    font: bold 60%/1.9 sans-serif;
    text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
    content: 'Off';
    float: left;
    text-indent: .5em;
    color: rgba(0,0,0,.45);
    text-shadow: none;
}
/* END iOS6 switch */

/* NEWS / CATEGORIES */
#categories .container .item {
    border: 1px solid #81a1cd;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#news .container .item {
    border: 1px solid #d0d0d0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

/* FORMS */
.form-container
{
    /*width: 1000px;*/
    margin: 0 auto;
    /*width: 1050px;*/
    height: auto;
    overflow: hidden;
}

.stiffia-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}

.stiffia-form-column {
    float: left;
    overflow: hidden;
    margin-right: 20px;
    width: auto;
}

.stiffia-form-iframe {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}

iframe#formIframe {
    width: 100%;
    height: auto;
    border: 0;
    display: none;
    overflow-x: hidden;
}

.stiffia-form.standalone-button {
    padding: 0 30px 20px 30px;
}
.stiffia-form-large {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}
.stiffia-form h1 {
    font: 18px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #292F21;
    background: #CDE9A7; /* Old browsers */
    background: -moz-linear-gradient(top, #CDE9A7 0%, #CDE9A7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE9A7), color-stop(100%,#CDE9A7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CDE9A7 0%,#CDE9A7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #CDE9A7 0%,#CDE9A7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #CDE9A7 0%,#CDE9A7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #CDE9A7 0%,#CDE9A7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CDE9A7', endColorstr='#CDE9A7',GradientType=0 ); /* IE6-9 */
    text-shadow: 1px 1px 1px #ffffff;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    /*border-bottom:1px solid #55AAFF;*/

}
.stiffia-form h1>span {
    display: block;
    /*font-size: 11px;*/
    font-size: 12px;
    color: #2C3B41;
    font-weight: bold;
    text-shadow: none;
 }
.stiffia-form h1>i.fa, .stiffia-form h1>span>i.fa {
    margin: 4px 6px 0 0;
}

.stiffia-form label {
    display: block;
    margin: 5px 0px 5px;
}
.stiffia-form label.center {
    text-align: center;
    margin-top: 20px;
}
.stiffia-form label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.stiffia-form label span.form_info {
    line-height: 20px;
    font-size: 10px;
    color: #222D32;
    font-style: italic;
    clear: both;
}
.stiffia-form label span.form_info > img {
    vertical-align: middle;
}

.stiffia-form input[type="text"], .stiffia-form input[type="email"], .stiffia-form input[type="password"], .stiffia-form textarea, .stiffia-form select {
    color: #555;
    height: 26px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 12px/12px Arial, Helvetica, sans-serif;
    float: left;
}

.stiffia-form select {
    width: auto!important;
    padding-right: 25px!important;
}

.stiffia-form fieldset {
    border: 1px solid #E5E5E5!important;
}
.stiffia-form fieldset span.form_info {
    line-height: 20px;
    font-size: 10px;
    color: #222D32;
    font-style: italic;
    clear: both;
}
.stiffia-form fieldset span.form_info > img {
    vertical-align: middle;
}

.stiffia-form fieldset legend {
    color: #5e5e5e;
    text-align: left;
    font-weight: bold;
}

.stiffia-form fieldset.thumbnail div.preview {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(229, 229, 229);
}
.stiffia-form fieldset.thumbnail div.preview > img {
    width: 100px;
    height: 100px;
}
.stiffia-form fieldset.thumbnail div.sources {
    float: left;
    width: auto;
    height: auto;
    border: 0px solid rgb(144, 144, 144);
    margin-left: 20px;
    padding-top: 15px;
}
.stiffia-form fieldset.thumbnail div.sources span.local {
    float: left;
    line-height: 30px;
}
.stiffia-form fieldset.thumbnail div.sources span.url {
    float: left;
    line-height: 30px;
}

.stiffia-form textarea{
    height:100px;
    padding-top: 10px;
    resize: none;
}
.stiffia-form select:not([multiple=multiple]) {
    background: url('../images/down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('../images/down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:60%;
    height:30px;
}
.stiffia-form input.dateSelect {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100px;
    padding: 0px 0px 0px 0px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    text-align: center;
}
.stiffia-form .button {
    /*background-color: #9DC45F;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #8b4513;
    text-shadow: 1px 1px 1px #949494;
    background: rgb(244,213,119); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(244,213,119,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,213,119,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244,213,119,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(244,213,119,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(244,213,119,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(244,213,119,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d577', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}
.stiffia-form .button:hover {
    background-color:#80A24A;
}
.stiffia-form input[type="text"].date-pick {
    color: #555;
    height: 30px;
    line-height:15px;
    /*width: 100px;*/
    width: auto;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.stiffia-form input[type="checkbox"]{
    float: left;
    margin-right: 6px;
    vertical-align: middle;
}

.stiffia-form input[type="radio"]{
    float: left;
    margin-right: 6px;
    vertical-align: middle;
}

.stiffia-form label.submit
{
    margin: 30px 0px 0px 0px;
    float: right;
}
.stiffia-form.standalone-button label.submit
{
    margin: 0;
    float: right;
}

.stiffia-form input[type="submit"]
{
    float: left;
    border: 1px solid #3174D0;
    color: #2C3B41;
    padding: 5px 8px 5px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #b0c8e9; /* Old browsers */
    background: -moz-linear-gradient(top, #b0c8e9 0%, #91aed6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0c8e9), color-stop(100%,#91aed6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b0c8e9 0%,#91aed6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b0c8e9 0%,#91aed6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b0c8e9 0%,#91aed6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b0c8e9 0%,#91aed6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0c8e9', endColorstr='#91aed6',GradientType=0 ); /* IE6-9 */
    font: 14px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px #949494;*/
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
.stiffia-form input[type="submit"]:hover {
    cursor: pointer;
}

.stiffia-form .form_validation_error
{
    color: #ED1D24;
    background: #ffffff;
    text-align: center;
    padding: 4px 6px 4px 6px;
    float: right;
    font-size: 11px;
}

.stiffia-form .form_validation_error_abs
{
    position: absolute;
    top: 0;
    right: 0;
    color: #ED1D24;
    background: #ffffff;
    text-align: center;
    padding: 4px 6px 4px 6px;
    float: right;
    font-size: 11px;
}

/* For ajax form posts */
.ajaxResults {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}

.form_separator
{
    clear: both;
    float: none;
}

div#videos .item.pending
{
    background: #cdeb8b; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-9 */
}


/******************************************/
/*         Generic buttons                */
/******************************************/
/* Add new something */
button.add_new_value:hover {
    cursor: pointer;
}
button.add_new_value::before {
    font-family: FontAwesome;
    content: "\f067";
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 12px;
    margin-right: 7px;
    padding: 0 7px;
    text-align: center;
    width: auto;
}
button.add_new_value {
    z-index: 50;
    position: relative;
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #CDE9A7, #CDE9A7);
    /*border: 1px solid #777;*/
    border: 1px solid #9EE028;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #292F21;
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    margin: 20px auto!important;
    padding: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    width: auto;
    text-align: center;
    line-height: 22px;
}

.stiffia-form button:hover {
    cursor: pointer;
}
/* Save / Submit something */
.stiffia-form button.submit::before {
    font-family: FontAwesome;
    content: "\f00c";
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 12px;
    margin-right: 7px;
    padding: 0 7px;
    text-align: center;
    width: auto;
}
.stiffia-form button.submit {
    z-index: 50;
    position: relative;
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #CDE9A7, #CDE9A7);
    /*border: 1px solid #777;*/
    border: 1px solid #9EE028;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #292F21;
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    margin: 2px auto!important;
    padding: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    width: auto;
    text-align: center;
    line-height: 22px;
}

/* Cancel / Exit something */
.stiffia-form button.cancel
{
    float: left;
    margin-left: 15px;
    border: 1px solid #3174D0;
    color: #ffffff;
    padding: 5px 8px 5px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #E63F36;
    font: 14px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    /*text-shadow:
    -1px -1px 0 #E2352E,
    1px -1px 0 #E2352E,
    -1px 1px 0 #E2352E,
    1px 1px 0 #E2352E;*/
}

/* View/Load something */
.stiffia-form button.view_results::before {
    font-family: FontAwesome;
    content: "\f06e";
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 12px;
    margin-right: 7px;
    padding: 0 7px;
    text-align: center;
    width: auto;
}
.stiffia-form button.view_results {
    z-index: 50;
    position: relative;
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #CDE9A7, #CDE9A7);
    /*border: 1px solid #777;*/
    border: 1px solid #9EE028;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #292F21;
    /*display: block;*/
    font-family: 'Arial';
    font-size: 12px;
    margin: 2px 10px;
    padding: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    width: auto;
    text-align: center;
    line-height: 22px;
}

/* Change something */
button.change_value::before {
    font-family: FontAwesome;
    content: "\f013";
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 18px;
    margin-right: 7px;
    padding: 0 7px;
    text-align: center;
    width: auto;
}
button.change_value {
    z-index: 50;
    position: relative;
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #CDE9A7, #CDE9A7);
    /*border: 1px solid #777;*/
    border: 1px solid #9EE028;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #292F21;
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    margin: 20px auto!important;
    padding: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    width: auto;
    text-align: center;
    line-height: 22px;
}

/* Remove something */
button.remove_value::before {
    font-family: FontAwesome;
    content: "\f05c";
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 18px;
    margin-right: 2px;
    padding: 0 7px;
    text-align: center;
    width: auto;
}
button.remove_value {
    z-index: 50;
    position: relative;
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #E63F36, #E63F36);
    /*border: 1px solid #777;*/
    border: 1px solid #E63F36;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    margin: 20px auto!important;
    padding: 4px;
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);*/
    white-space: nowrap;
    width: auto;
    text-align: center;
    line-height: 22px;
}
button.remove_value_small::before {
    font-family: FontAwesome;
    content: "\f05c";
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 18px;
    margin-right: 2px;
    padding: 0 2px;
    text-align: center;
    width: auto;
}
button.remove_value_small {
    z-index: 50;
    position: relative;
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #BD1419, #BD1419);
    /*border: 1px solid #777;*/
    border: 1px solid #BD1419;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: block;
    font-family: 'Arial';
    font-size: 11px;
    margin: 3px 0!important;
    padding: 1px 3px;
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);*/
    white-space: nowrap;
    width: auto;
    text-align: center;
    line-height: 22px;
}

/* IMPORTANT NOTES */
fieldset.important_note {
    position: relative;
    width: auto!important;
    height: auto;
    margin: 10px auto 30px;
    background: #FFFFD4;
    color: #EC2029;
    border: 1px solid #EC2029!important;
    font-size: 11px;
    /*font-style: italic;*/
}
fieldset.important_note > legend {
    font-size: 12px;
    font-style: normal;
    color: #EC2029;
    font-weight: bold;
}
fieldset.important_note > div {
    margin: 8px 20px!important;
}
/* END IMPORTANT NOTES */