/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1

Reset
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

html, body
{
    background-color: #f0f0f0;
}

body
{
    font-size:        14px;
    /*font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:            #313131;
}

a
{
    color:           #08C;
    text-decoration: none;
}

/* FREEONESVIP ADMIN CSS */
fieldset
{
    border: 1px solid #202020 !important;
    padding: 0.2em 0.5em;
}
legend
{
    padding: 0.2em 0.5em;
    border:0px solid #202020;
    text-align:right;
}

.preloader
{
    width: 50px;
    margin: 0 auto;
    padding-top: 50px;
}

.clearfix
{
    height: 0px;
    overflow: hidden;
    clear: both;
}

.chainbox
{
    float: left;
    width: 300px;
    height: 700px;
    margin-left: 50px;
    /*background-color: #ffffff;*/
    z-index: 10;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    border: 1px solid #E0E0E0;
    background: #F2F2F2;
    padding: 8px 10px 8px 10px;
}
.large_chainbox
{
    float: left;
    width: 900px;
    /*height: 700px;*/
    min-height: 100px;
    margin-left: 20px;
    /*background-color: #ffffff;*/
    z-index: 10;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    border: 1px solid #E0E0E0;
    background: #F2F2F2;
    padding: 8px 10px 8px 10px;
}
.small_chainbox_wrapper
{
    float: left;
    width: auto;
    height: 330;
    background-color: inherit;
}
.small_chainbox
{
    float: left;
    width: 300px;
    height: 550px;
    margin-left: 50px;
    background-color: #ffffff;
    z-index: 10;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    clear: both;

    border: 1px solid #E0E0E0;
    background: #F2F2F2;
    padding: 8px 10px 8px 10px;
}
.chainbox .chainheading, .large_chainbox .chainheading, .small_chainbox .chainheading
{
    width: 100%;
    background-color: #aacd4e;
    /*padding: 2px 4px;*/
    margin-bottom: 10px;
    height: 40px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.chainbox .chainheading .chaintitle, .large_chainbox .chainheading .chaintitle, .small_chainbox .chainheading .chaintitle
{
    text-transform: uppercase;
    font-weight: bold;
    color: #202020;
    float: left;
    line-height: 40px;
    margin-left: 10px;
}
.chainbox .chainheading .options, .large_chainbox .chainheading .options, .small_chainbox .chainheading .options
{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.chainbox .container, .large_chainbox .container
{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    /*height: 650px;*/
    height: auto;
}
.small_chainbox .container
{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
}
.chainbox .container .item
{
    float: left;
    clear: both;
    width: 280px;
    height: auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
#channels .container .item
{
    /*float: left;
    clear: both;
    width: 280px;*/
    height: 70px;
    /*overflow: hidden;
    z-index: 1;*/
}
.large_chainbox .container .item
{
    float: left;
    /*clear: both;*/
    width: 430px;
    height: 170px;
    overflow: hidden;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
}
.large_chainbox .container .item.small
{
    float: left;
    /*clear: both;*/
    width: 430px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
}
.large_chainbox .container.small .item
{
    float: left;
    /*clear: both;*/
    width: 170px;
    height: 170px;
    overflow: hidden;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
}
.small_chainbox .container .item
{
    float: left;
    clear: both;
    width: 280px;
    height: 25px;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 5px;
    position: relative;
}
.chainbox .container .item .title
{
    float: left;
    margin-left: 10px;
    line-height: 20px;
    width: 210px;
    height: auto;
}
.large_chainbox .container .item .title
{
    float: left;
    margin-left: 10px;
    width: 220px;
    margin-top: 30px;
}
.large_chainbox .container.small .item .title
{
    float: left;
    margin-left: 10px;
    width: 150px;
    margin-top: 40px;
    font-size: 12px;
}
.small_chainbox .container .item .title
{
    float: left;
    margin-left: 10px;
    width: 210px;
    line-height: 25px;
}
.chainbox .container .item .title_thumbnail
{
    float: left;
    /*margin-left: 10px;*/
    width: 80px;
    height: 60px;
    border: 1px solid #81A1CD;
    margin-top: 5px;
}
.chainbox .container .item .title_thumbnailed
{
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    line-height: 20px;
    width: 180px;
    height: auto;
}
.chainbox .container .item .title_icon
{
    float: left;
    /*margin-left: 10px;*/
    width: 50px;
    height: 50px;
    border: 1px solid #81A1CD;
    margin-top: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.chainbox .container .item .title_iconed
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
    width: 180px;
    height: auto;
}
.chainbox .container .item .title_iconed span
{
    font-size: 18px;
    line-height: 20px;
    color: #15617E;
    font-weight: normal;
    text-shadow:
        -1px -1px 0 #DAE3C2,
        1px -1px 0 #DAE3C2,
        -1px 1px 0 #DAE3C2,
        1px 1px 0 #DAE3C2;
}
.chainbox .container .separator, .large_chainbox .container .separator, .small_chainbox .container .separator
{
    clear: both;
    position: relative;
}
hr.space
{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(234,243,209,1), rgba(170,205,78,1), rgba(234,243,209,1));
    background-image: -moz-linear-gradient(left, rgba(234,243,209,1), rgba(170,205,78,1), rgba(234,243,209,1));
    background-image: -ms-linear-gradient(left, rgba(234,243,209,1), rgba(170,205,78,1), rgba(234,243,209,1));
    background-image: -o-linear-gradient(left, rgba(234,243,209,1), rgba(170,205,78,1), rgba(234,243,209,1));
}
.chainbox .container .item .options
{
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1000;
}
.large_chainbox .container .item .options
{
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1000;
}
.small_chainbox .container .item .options
{
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1000;
}

.container .item .options {
    padding: 2px 5px;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.container .item .options i.fa {
    font-size: 24px;
    color: #202020;
}
.container .item .options i.fa.small {
    font-size: 20px;
}
.container .item .options i.fa.fa-times {
    color: #CF0404;
}

.large_chainbox .container .thumbnail
{
    float: left;
    clear: both;
    width: 180px;
    height: 140px;
    overflow: hidden;
    z-index: 1;
    margin: 5px 5px 5px 5px;
}
.large_chainbox .container .thumbnail img
{
    margin: 9px 0px 0px 9px;
    border: 3px double #AACD4E;
    width: 160px;
    height: 145px;
}

.large_chainbox .container .thumbnail.small
{
    float: left;
    clear: both;
    width: 120px;
    height: 100px;
    overflow: hidden;
    z-index: 1;
    margin: 5px 5px 5px 5px;
}
.large_chainbox .container .thumbnail.small img
{
    margin: 9px 0px 0px 9px;
    border: 3px double #AACD4E;
    width: 100px;
    height: 80px;
}

.large_chainbox .container.small .thumbnail
{
    float: left;
    clear: both;
    width: 122px;
    height: 155px;
    overflow: hidden;
    z-index: 1;
    margin: 5px 5px 5px 5px;
}
.large_chainbox .container.small .thumbnail img
{
    margin: 9px 0px 0px 9px;
    border: 3px double #AACD4E;
    width: 102px;
    height: 140px;
}

.highlight
{
    background-color: #C3D3EA;
}

.common_form, .channel_form, .package_form, .video_form, .tag_form, .offer_form, .tracking_form, .importXML_form, .importCSV_form, .studio_form, .translator_form, .bonus_form, .mmanager_form, .magazine_form, .biller_form, .subscription_form, .xsell_form, .trialpackage_form, .upsell_form, .social_network_form, .tubeclip_form, .news_category_form
{
    width: 500px;
    margin: 40px auto;
}
.pornstar_form, .dvd_form, .label_form, .director_form
{
    width: 640px;
    margin: 40px 0px 0px 180px;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
}

.common_form input[type=text], .channel_form input[type=text], .importXML_form input[type=text], .package_form input[type=text], .video_form input[type=text], .tag_form input[type=text], .studio_form input[type=text], .translator_form input[type=text], .bonus_form input[type=text], .mmanager_form input[type=text], .magazine_form input[type=text], .biller_form input[type=text], .subscription_form input[type=text], .xsell_form input[type=text], .trialpackage_form input[type=text], .upsell_form input[type=text], .social_network_form input[type=text], .tubeclip_form input[type=text], .news_category_form input[type=text]
{
    border:      1px solid #DADADA;
    background:  white url(../images/field-background.gif) repeat-x left top;
    padding:     5px 6px;
    color:       #565656;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   12px;
    width: 300px;
}
.pornstar_form input[type=text], .dvd_form input[type=text], .label_form input[type=text]
{
    border:      1px solid #DADADA;
    background:  white url(../images/field-background.gif) repeat-x left top;
    padding:     5px 6px;
    color:       #565656;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   12px;
    width: 250px;
}
.pornstar_form input[type=radio], .dvd_form input[type=radio], .director_form input[type=radio]
{
    margin-left: 15px;
}
.importXML_form input[type=file]
{
    border:      1px solid #DADADA;
    background:  white url(../images/field-background.gif) repeat-x left top;
    padding:     5px 6px;
    color:       #565656;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   12px;
    width: 400px!important;
}
.form_caption
{
    /*width: 300px;
    margin: 0 auto;
    padding-top: 20px;*/
    clear: both;
    -webkit-transform: rotate(-90deg);    
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -120px;
    bottom: 200px;
}
.form_caption h1
{
    font-size: 70px;
}
.small_form_caption
{
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}
.small_form_caption h1
{
    font-size: 40px;
}
.form_buttons
{
    width: 200px;
    margin: 0 auto;
}
.floating_form_buttons
{
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.form_buttons .cmdSave, .floating_form_buttons .cmdSave
{
    background-color: #CDE69C;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   14px;
    color: #202020;
    padding: 4px 10px 4px 10px;
    width: 90px;
}
.form_buttons .cmdCancel, .floating_form_buttons .cmdCancel
{
    background-color: #eea2a2;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   14px;
    color: #202020;
    padding: 4px 10px 4px 10px;
    width: 90px;
    margin-top: 10px;
}

textarea
{
    width: 100%;
    resize: none;
    padding:     5px 6px;
    color:       #565656;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   12px;
}

.hiddenProcess
{
    display: none;
}

span.advice
{
    color:       #990000;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:   10px;
    line-height: 15px;
}

.video
{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

/* Notifications */
.notification
{
    width: 400px;
    margin: 0 auto;
}
.notification .icon
{
    
}
/* END Notifications */

/* Package selection for Offer */
#channel_container{
    width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
#channel_container ul{padding:0px;margin:0px}
#channel_container ul li{list-style:none;float:left;width:170px;height:90px;margin:5px;border:1px solid #ccc;padding:5px;cursor:pointer}
#channel_container ul li input[type=checkbox]{display:none}
#channel_container ul li.active{background:#EAF3D1;}
#channel_container ul li.active div span{color:#202020;}
#channel_container ul li.over{border:1px solid #AACD4E;}
#channel_container ul li.out{border:1px solid #ccc;}
#channel_container ul li div { overflow: hidden; height: 90px; border: 0px solid #000000; }
#channel_container ul li div span{color:#202020; font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; }
/* END Package selection for Offer */

.tracker
{
    float: left;
    margin-right: 15px;
}
.tracking_history
{
    float: left;
    margin-right: 15px;
    height: 600px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.fancy_button
{
    border: 1px solid #AACD4E;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #202020;
    padding: 5px 8px 5px 8px;
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

/*SECTIONS*/
#globalStiffiaSectionsOptions{position:relative;}
#globalStiffiaSectionsOptions{}
#globalStiffiaSectionsOptions label{color:#fff;}
#globalStiffiaSectionsOptions .cmdSave{position: absolute;right: 16px;top: 90px;}
#sectionsContainer{}
#sectionsContainer .sectionItem{position:relative;border: 2px solid #8baad3;cursor:pointer;height: 60px;margin-bottom: 10px;width: 100%;text-align:center;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#sectionsContainer .sectionItem:hover{background-color: #E6E6E6}
#sectionsContainer .sectionItem .sectionPosition{font-size: 20px;line-height: 60px;}
#sectionsContainer .sectionItem .sectionName{font-size: 20px;line-height: 60px;}
#sectionsContainer .sectionItem .sectionControls{display:none;position:absolute;right: 10px;top: 5px;}
#sectionsContainer .sectionItem:hover .sectionControls{display:block;}
#sectionsContainer .sectionItem .sectionControls a{margin-right:5px; color:#000;}
#sectionsContainer .sectionItem .sectionControls .editSection{}
#sectionsContainer .sectionItem .sectionControls .deleteSection{}
#sectionsContainer .sectionItem .sectionControls .addNews{}